/* Content */

input, select {
  align-self: center;
  max-width: 80%;
  border: 1px solid gray;
  border-radius: 4px;
  padding-left: 6px;
}

button {
  align-self: center;
  width: fit-content;
  border-radius: 4px;
}

button:hover {
  box-shadow: 2px 2px 5px gray;
}

ul {
  margin: 0px;
  padding: 8px 0px;
  list-style-type: none;
}

li {
  text-align: center;
}

hr {
  margin-top: 8px;
}

.component-card {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  margin: 16px;
  box-shadow: 5px 5px 5px lightgray;
}

.global-form-group {
  margin-bottom: 32px;
}

.global-form-row {
  margin-bottom: 8px;
}

/* Transition */

.page-fade-enter-active, .page-fade-leave-active {
  transition: all .5s ease;
}

.page-fade-enter {
  transform: translateY(-30px);
  opacity: 0;
}

.page-fade-leave-to {
  transform: translateY(30px);
  opacity: 0;
}